.cache
.gocache
vendor
cmd/protoc-gen-go/protoc-gen-go
cmd/protoc-gen-go/testdata/go.sum
cmd/protoc-gen-go-grpc/protoc-gen-go-grpc
cmd/protoc-gen-go-grpc/testdata/go.sum

# This file includes artifacts of the system test that should not be checked in.
# For files created by specific development environment (e.g. editor),
# use alternative ways to exclude files from git.
# For example, set up .git/info/exclude or use a global .gitignore.
